html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -103px;
    padding-bottom: 103px;
}

footer {
    height: 103px;
}

.navbar { 
    box-shadow: none !important; 
}

h1 img {
    height: 30px !important;
    margin: 0 0 5px 0 !important;
}

h1 {
    font-size: 20pt !important;
    margin-top: 8px !important;
}

.alt {
    background-color: #ddd;
}