html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -150px;
    padding-bottom: 150px;
}

footer {
    height: 150px;
}

.navbar { 
    box-shadow: none !important; 
}

h1 img {
    height: 25px !important;
    margin: 0 0 5px 0 !important;
}

h1 {
    font-size: 15pt !important;
    margin-top: 8px !important;
}

th {
    opacity: 0.5;
}

th[aria-sort]:not(.no-sort) {
	opacity: 1;
}

th:hover {
    opacity: 1;
}