@font-face{
    font-family:FontAwesome;
    font-display: swap;
    src:url(fonts/fontawesome-webfont.eot?v=4.5.0);
}

footer p{
    margin-bottom: 0px !important;
}

footer {
    padding: 0.5rem;
}

#searchMobile {
    width: 7rem;
}

#countryButton {
    padding: 0px;
    margin: 0px;
}