<!doctype html>
<title>{{ title }}</title>
<html>

<head>
  <!-- CSS -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  <script src="https://kit.fontawesome.com/a9c2dc6b0c.js" crossorigin="anonymous"></script>

  <!-- Meta tags -->
  <meta name="google-site-verification" content="hyYUHS0Shn5IjfddWLSOtwCPWzyBOqqFsOD1-BpIewE" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Pregled podatkov o Coronavirusu.">
  <meta name="keywords" content="corona,coronavirus,koronavirus,korona,virus,covid-19,pivicka,sars-cov-2">
  <meta name="author" content="MathBenc">
  <meta name="theme-color" content="#343a40">
  <meta http-equiv="refresh" content="300">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-static-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/static/beer_emoji.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp
      Na zdrav(ljen)je!
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" style="margin-right: 0.5rem;">
        <li class="nav-item">
          <a href="https://www.rtvslo.si/zdravje/novi-koronavirus" class="text-decoration-none nav-link"
            target="_blank">
            <i class="far fa-newspaper"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.reddit.com/r/Coronavirus/" class="text-decoration-none nav-link" target="_blank">
            <i class="fab fa-reddit"></i>
          </a>
        </li>
      </ul>
    </div>

    <form class="form-inline" id="searchContainer">
      <input class="form-control form-control-sm mr-auto d-none d-sm-block d-md-block" id="search" placeholder="Išči državo">
      <input class="form-control form-control-sm mr-auto d-block d-sm-none d-md-none" id="searchMobile" placeholder="Išči državo">
    </form>

  </nav>

  <div class="table-responsive-sm">
    <table id="dataTable" class="table table-striped table-hover" style="margin-bottom: 0px !important;"></table>
  </div>

  <footer class="footer bg-dark text-center" id="footer">
    <p id="footerP" class="text-muted">Vir: <a href="https://github.com/javieraviles/covidAPI" class="text-muted text-decoration-none">github.com/javieraviles/covidAPI</a>, zadnja posodobitev: {{ data_time }}</p>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="countryDetailsModal" tabindex="-1" role="dialog" aria-labelledby="countryDetailsModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="countryDetailsModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="countryDetailsModalBody" class="modal-body">
          <div>Populacija<p id="populationModal"></p></div>
          <div>Okuženi<p id="infectedModal"></p></div>
          <div>Danes okuženi<p id="infectedTodayModal"></p></div>
          <div>Delež okuženih<p id="infectedRatioModal"></p></div>
          <div>Umrli<p id="deadModal"></p></div>
          <div>Danes umrli<p id="deadTodayModal"></p></div>
          <div>Delež umrlih<p id="deadRatioModal"></p></div>
          <div>Ozdravljeni<p id="curedModal"></p></div>
          <div>Aktualni<p id="activeModal"></p></div>
          <div>Kritični<p id="criticalModal"></p></div>
        </div>
      </div>
    </div>
  </div>


  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sticky-table-headers"></script>

  <script>

    // Search
    $("#search,#searchMobile").keyup(function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      if (input.value == "") {
        input = document.getElementById("searchMobile");
      }
      filter = input.value.toUpperCase();
      table = document.getElementById("dataTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    var countries = [];
    var population = [];
    var infected = [];
    var infectedToday = [];
    var dead = [];
    var deadToday = [];
    var cured = [];
    var active = [];
    var critical = [];
    var infectedRatio = [];
    var deadRatio = [];
    var updateTime = [];

    var coronaData = JSON.parse({{ corona_data| tojson | safe}});
    var countryData = JSON.parse({{ country_data| tojson | safe}});

    //Spremenimo imena držav
    for (var i = 0; i < countryData.length; i++) {
      if (countryData[i].name == "Korea (Republic of)") {
        countryData[i].name = "South Korea";
      }
      else if (countryData[i].name == "Korea (Democratic People's Republic of)") {
        countryData[i].name = "North Korea";
      }
    }

    for (var i=0; i< coronaData.length; i++) {
      if(coronaData[i]["country"] == "S. Korea") {
        coronaData[i]["country"] = "South Korea"
      }
      else if(coronaData[i]["country"] == "UK") {
        coronaData[i]["country"] = "United Kingdom";
      }
      else if(coronaData[i]["country"] == "USA") {
        coronaData[i]["country"] = "United States of America"
      }
    }

    for (var i = 0; i < coronaData.length; i++) {
      for (var j = 0; j < countryData.length; j++) {
        var countryNameRegex = new RegExp("^" + coronaData[i]["country"] + ".*$");
        if (countryNameRegex.test(countryData[j].name)) {
          // Podatki o državi
          countries.push(coronaData[i]["country"]);
          population.push((countryData[j].population));

          // Podatki o Pivu
          infected.push(parseInt(coronaData[i]["cases"]));
          infectedToday.push(parseInt(coronaData[i]["todayCases"]));
          dead.push(parseInt(coronaData[i]["deaths"]));
          deadToday.push(parseInt(coronaData[i]["todayDeaths"]));
          cured.push(parseInt(coronaData[i]["recovered"]));
          active.push(parseInt(coronaData[i]["active"]));
          critical.push(parseInt(coronaData[i]["critical"]));

          // Moje računanje
          infectedRatio.push(parseFloat((coronaData[i]["cases"] * 100 / countryData[j].population).toFixed(5)));
          deadRatio.push(parseFloat((coronaData[i]["deaths"] * 100 / coronaData[i]["cases"]).toFixed(5)));
        }    
      }
    }

    function formatNumbers() {
      for(var i=0;i<countries.length;i++) {
        population[i] = formatNumber(population[i]);
        infected[i] = formatNumber(infected[i]);
        dead[i] = formatNumber(dead[i]);
        cured[i] = formatNumber(cured[i]);
      }
    }
    formatNumbers()

    function formatDateTime(timestamp) {
      var date = new Date(timestamp);
      var minutes = "0" + date.getMinutes();
      var month = date.getMonth() + 1;
      var formattedTime = date.getDate() + "." + month  + "." + date.getFullYear() + " " + date.getHours() + ":" + minutes.substr(-2);
      return formattedTime
    }

    function formatNumber(num) {
      return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }

    function tableCreate() {
      var headers = ["Država", "Populacija", "Okuženi", "Danes", "Obolevnost", "Mrtvi", "Umrljivost", "Ozdraveli"];
      var headersIcons = ["", "", "fas fa-frown-open", "fas fa-plus-circle", "", "fas fa-dizzy", "", "fas fa-smile",];
      var tbl = document.getElementById('dataTable');
      var tbdy = document.createElement('tbody');
      var thdr = tbl.createTHead();
      thdr.setAttribute("class", "thead-dark");
      var row = thdr.insertRow();
      for (var i = 0; i < headers.length; i++) {
        var cell = document.createElement("th");
        cell.setAttribute("style", "border:none !important; cursor: pointer;");
        // TU SPREMNINJAJMO
        cell.innerHTML = '<div class="d-none d-sm-block">' + headers[i] + '</div><div class="d-sm-none"><i class="' + headersIcons[i] + '"></i></div>'
        //cell.innerHTML = headers[i];
        if (headers[i] == "Okuženi") {
          cell.setAttribute("data-sort-default", "")
        }
        if (i != 0) {
          cell.setAttribute("class", "text-right");
        }
        else {
          cell.innerHTML = headers[i];
        }
        if (i == 1 || i == 4 || i == 6 || i == 7) {
          cell.setAttribute("class", "d-none d-lg-table-cell text-right");
        }
        if (i == 4 || i == 7) {
          cell.setAttribute("class", "d-none d-sm-block d-lg-table-cell text-right");
        }
        row.appendChild(cell);
      }
      for (var i = 0; i < countries.length; i++) {
        var row = tbdy.insertRow();
        var cell = row.insertCell();
        //cell.innerHTML = '<button data-toggle="modal" id="countryButton" data-target="#countryDetailsModal">'+countries[i]+'</button>'
        cell.setAttribute("class", "countryExpand");
        cell.setAttribute("id", i);
        cell.innerHTML = countries[i]
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.setAttribute("class", "d-none d-lg-table-cell text-right");
        cell.innerHTML = population[i];
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.innerHTML = infected[i];
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.innerHTML = infectedToday[i];
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.setAttribute("class", "d-none d-sm-block d-lg-table-cell text-right");
        cell.innerHTML = infectedRatio[i] + "%";
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.innerHTML = dead[i];
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.setAttribute("class", "d-none d-lg-table-cell text-right");
        cell.innerHTML = deadRatio[i] + "%";
        cell = row.insertCell();
        cell.setAttribute("align", "right");
        cell.setAttribute("class", "d-none d-sm-block d-lg-table-cell text-right");
        cell.innerHTML = cured[i];
      }
      tbl.appendChild(tbdy);
    }
    tableCreate();

    // Zaženemo plugin za sortiranje
    new Tablesort(document.getElementById("dataTable"), {
      descending: true
    });

    // Zaženemo plugin za stickanje headerjev
    $('table').stickyTableHeaders();
        
    function countryDetect () {
      $.getJSON('https://json.geoiplookup.io', function(data){
        var country = data.country_name;
        var table = $("#dataTable");
        var tbody = table.find("tbody");
        var rows = tbody.find("tr");
        for (var i=0; i<rows.length; i++) {
          var cells = rows[i].getElementsByTagName("td")
          var countryRegex = new RegExp("^" + country + ".*$");
          if(countryRegex.test(cells[0].innerText)) {
            rows[i].style.backgroundColor = "#ffc453";
          }
        }
      })
    };
    countryDetect()

    $(".countryExpand").click(function() {
      var clickedCountryIndex = $(this).attr("id");
      //Spremenimo modal podatke
      $("#countryDetailsModalTitle").text(countries[clickedCountryIndex]);
      $("#populationModal").text(population[clickedCountryIndex]);
      $("#infectedModal").text(infected[clickedCountryIndex]);
      $("#infectedTodayModal").text(infectedToday[clickedCountryIndex]);
      $("#infectedRatioModal").text(infectedRatio[clickedCountryIndex] + "%");
      $("#deadModal").text(dead[clickedCountryIndex]);
      $("#deadTodayModal").text(deadToday[clickedCountryIndex]);
      $("#deadRatioModal").text(deadRatio[clickedCountryIndex] + "%");
      $("#curedModal").text(cured[clickedCountryIndex]);
      $("#activeModal").text(active[clickedCountryIndex]);
      $("#criticalModal").text(critical[clickedCountryIndex]);

      $("#countryDetailsModal").modal("show");
    });

  </script>
</body>

</html>